---
import { site } from '../config/site';
---

<footer class="site-footer">
	<div class="container site-footer__inner">
		<p class="site-footer__name">{site.name}</p>
		<p class="site-footer__location">{site.location}</p>
		<p>
			<a href="/contact">Contact</a>
		</p>
	</div>
</footer>
